In [22]:
#Method 1 using Label Encoder
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [23]:
#Loading the dataset
df = pd.read_csv("train.csv")

In [24]:
df.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0,0,0,T,Y,Green,Triangle,Snake,Finland,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0

In [25]:
#This is splitting the dataset into labels and targets
#X is the label
#Y is the target
X = df.drop(['target'],axis = 1)

In [26]:
Y = df['target']

In [27]:
#Encoding of all the non numeric data is done using Label Encoder
le = LabelEncoder()

In [28]:
# Creating a temporary dataframe that holds the Encoded Dataset
# This will be used for Training with the Logistic Regression Model
# The objects(or non numeric data is encoded)
temp = pd.DataFrame()
for c in X.columns:
    if(X[c].dtype == "object"):
        temp[c] = le.fit_transform(X[c])
    else:
        temp[c] = X[c]

In [29]:
temp.head(4)

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
0,0,0,0,0,1,1,1,5,5,3,...,1686,2175,2,2,1,7,3,136,2,2
1,1,0,1,0,1,1,1,4,3,5,...,650,11635,1,2,3,0,0,93,7,8
2,2,0,0,0,0,1,0,4,4,5,...,1932,8078,1,1,4,7,17,31,7,2
3,3,0,1,0,0,1,2,4,5,0,...,629,6056,1,2,0,8,3,134,2,1

In [30]:
lr = LogisticRegression()

In [31]:
#Splitting the dataset into test and train
x_train,x_test,y_train,y_test = train_test_split(temp,Y,test_size = 0.2)

In [36]:
lr.fit(x_train,y_train)

C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [37]:
y_pred = lr.predict(x_test)

In [38]:
#Accuracy with the given Encoder
print("Accuracy : ",accuracy_score(y_test,y_pred))

Accuracy :  0.68875